* {margin: 0; padding: 0; box-sizing: border-box}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #274472;
  color: #C3E0E5;
  padding: 3vh 3vw;
}

.container {
  border: 5px solid #C3E0E5;
  border-radius: 15px;
  padding: 8vh 3vw;
  font-family: 'Orbitron', sans-serif;
}

.controlers {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
  }